# Encoding normalization
*.cs text working-tree-encoding=UTF-8
* text=auto

PolygonApocalypse/** filter=lfs diff=lfs merge=lfs -text
Assets/Gwangju_3D[[:space:]]asset/** filter=lfs diff=lfs merge=lfs -text
Assets/PolygonApocalypse/** filter=lfs diff=lfs merge=lfs -text
"ReBloom/Assets/Gwangju_3D[[:space:]]asset/**" filter=lfs diff=lfs merge=lfs -text
ReBloom/Assets/Gwangju_3D[[:space:]]asset/** filter=lfs diff=lfs merge=lfs -text

# Unity Smart Merge (YAML merge driver)
*.unity  merge=unityyamlmerge
*.prefab merge=unityyamlmerge
*.asset  merge=unityyamlmerge
*.mat    merge=unityyamlmerge
*.anim   merge=unityyamlmerge